@import "../../styles/forms";
@import "../../styles/buttons";

.Form
  @extend ._Form;
  &-group
    @extend ._Form-group;
  &-control
    @extend ._Form-control;

.Btn
  @extend ._Btn;
  @extend ._Btn--default;
