@import "../../styles/forms";
@import "../../styles/buttons";

$primary = #333;
$secondary = lighten($primary, 50%);
$border = #eee;

.Form
  @extend ._Form;
  &-group
    @extend ._Form-group;
  &-control
    @extend ._Form-control;

.Btn
  @extend ._Btn;
  @extend ._Btn--default;

.Info
  &-field
    padding 5px; border 1px solid $border;
    margin-bottom 10px;
    &:last-child
      margin-bottom 0;
    &-title
      color $secondary; margin-bottom 5px;
    &-text
      display block;
  &-scrollable
    @extend .Info-field
    max-height: 500px; overflow scroll;
